main:-webkit-full-screen {
    width: 100%;
    height: 100%;
}

.portada {
    width: 100%;
    height: 90vh;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#imgPortada {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 500;
    background-image: url('../img/portada.png');
    background-position: center -50px;
    background-size: 100%;
    background-repeat: no-repeat;
    animation: .5s portada 1;
}

@keyframes portada {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}

body {
    font-family: 'Roboto', sans-serif;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main .main {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 95vh;
    background: rgb(245, 242, 242);
}

main .mapa {
    width: 100%;
    height: 30vh;
}

#map {
    width: 100%;
    height: 100%;
}

main .altimetro {
    width: 100%;
    height: 15vh;
    color: aliceblue;
    background-color: #2381AA;
}

#divAltimetro {
    text-align: center;
    font-size: 2.5em;
}

#divAltimetro p {
    margin: 0px;
}

#divAltimetro p:nth-of-type(1) {
    margin-top: 10px;
}

#direccion {
    font-size: .5em;
}

main .datos {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

section .row {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

section .row .col {
    width: 40%;
    height: 140px;
    text-align: center;
}

.contentDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contentDiv p {
    margin: 0px 5px;
    font-size: 1.4em;
}

.contentDiv img {
    width: 18px;
}

#coordN,
#coordO {
    font-size: 1em;
}

section #compartir {
    position: relative;
    width: 80%;
    height: 70px;
    margin-top: 30px;
    margin-left: 10%;
    border-radius: 8px;
    color: aliceblue;
    background-color: #2381AA;
    font-size: 1.4em;
    cursor: pointer;
    outline: none;
}

section #compartir img {
    width: 20px;
    color: aliceblue;
    margin-right: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
}

.divRedes {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.redesSociales {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 100%;
    background: rgb(245, 242, 242);
    z-index: 200;
    transition-duration: .4s;
}

.redesSociales>header {
    width: 100%;
    height: 60px;
    background-color: #2381AA;
}

.redesSociales button {
    width: 120px;
    height: 40px;
    background-color: transparent;
    position: absolute;
    border: 0px;
    color: white;
    outline: none;
    cursor: pointer;
    top: 10px;
    left: 5px;
}

.redesSociales .botonesRedes {
    width: 100%;
    height: 400px;
    background-color: rgb(245, 242, 242);
}

.facebook,
.twitter,
.whatsapp {
    width: 80%;
    height: 60px;
    font-size: 1.2em;
    text-align: center;
    position: relative;
    background-color: blueviolet;
    margin: 20px 10%;
    border-radius: 4px;
}

.facebook:before,
.twitter:before,
.whatsapp:before {
    color: #f7f7f7;
    font-family: 'icomoon';
    font-size: 1.6em;
    left: 10px;
    position: absolute;
    top: 12px;
    z-index: 240;
}

.facebook:before {
    content: "\ea91";
}

.twitter:before {
    content: "\ea96";
}

.whatsapp:before {
    content: "\ea93";
}

.facebook a,
.twitter a,
.whatsapp a {
    color: #f7f7f7 !important;
    height: 100%;
    left: -40px;
    line-height: 50px;
    position: absolute;
    text-align: right;
    text-decoration: none;
    width: 100%;
}

.facebook {
    background: #4862A3;
}

.twitter {
    background: #26C1F3;
}

.whatsapp {
    background: #5FB404;
}

@media screen and (min-width: 480px) {
    main .main {
        width: 480px;
    }
    .redesSociales {
        width: 480px;
    }
    .whatsapp {
        display: none;
    }
    #imgPortada {
        width: 480px;
    }
}