main:-webkit-full-screen {
    width: 100%;
    height: 100%;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main .main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100ch;
    background: rgb(245, 242, 242);
}

main .mapa {
    width: 100%;
    height: 30vh;
}

#map {
    width: 100%;
    height: 100%;
}

main .altimetro {
    width: 100%;
    height: 14vh;
    background-color: rgb(58, 131, 194);
}

#divAltimetro {
    text-align: center;
    font-size: 2.5em;
}

#divAltimetro p {
    margin: 0px;
}

#divAltimetro p:nth-of-type(1) {
    margin-top: 10px;
}

#direccion {
    font-size: .5em;
}

main .datos {
    width: 100%;
    height: 58vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

section .row {
    width: 100%;
    height: 120px;
    border: 0px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

section .row .col {
    width: 40%;
    height: 140px;
    text-align: center;
    border: 0px solid black;
}

section #compartir {
    width: 80%;
    height: 55px;
    margin-top: 30px;
    margin-left: 10%;
    background-color: rgb(58, 131, 194);
}

@media screen and (min-width: 480px) {
    main .main {
        width: 480px;
    }
}